<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyRL</title>
  </head>
  <body>
    <h2>MyRl</h2>
    <p>MyRL is an URL shortener and customiser</p>
    <p>
      as of now you can only get shortened url, customisation will be added in
      coming days
    </p>
    <p>
      submit your long url in the follwing form and the shorten url will be
      returned
    </p>
    <form method="POST" action="/api/myrl/modify">
      <input type="text" name="oldUrl" />
      <button type="submit">shorten</button>
      <br /><br />
      <p>To be done:</p>
      <ul>
        <li>Customisation of the url</li>
        <li>Proper front end</li>
      </ul>
    </form>
  </body>
</html>
